apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: noredineba/microservices-order-service:latest
          ports:
            - containerPort: 3002
          env:
            - name: USER_SERVICE
              value: "http://user-service:3001"
            - name: INVENTORY_SERVICE
              value: "http://inventory-service:3003"
            - name: PAYMENT_SERVICE
              value: "http://payment-service:3004"
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
spec:
  selector:
    app: order-service
  ports:
    - port: 3002
      targetPort: 3002