name: CI/CD Docker Build & Push

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    env:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
      IMAGE_PREFIX: noredineba/microservices

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Build & push API Gateway
      uses: docker/build-push-action@v5
      with:
        context: ./api-gateway
        push: true
        tags: ${{ env.IMAGE_PREFIX }}-api-gateway:latest

    - name: Build & push Frontend
      uses: docker/build-push-action@v5
      with:
        context: ./frontend
        push: true
        tags: ${{ env.IMAGE_PREFIX }}-frontend:latest

    - name: Build & push User Service
      uses: docker/build-push-action@v5
      with:
        context: ./user-service
        push: true
        tags: ${{ env.IMAGE_PREFIX }}-user-service:latest

    - name: Build & push Order Service
      uses: docker/build-push-action@v5
      with:
        context: ./order-service
        push: true
        tags: ${{ env.IMAGE_PREFIX }}-order-service:latest

    - name: Build & push Inventory Service
      uses: docker/build-push-action@v5
      with:
        context: ./inventory-service
        push: true
        tags: ${{ env.IMAGE_PREFIX }}-inventory-service:latest

    - name: Build & push Payment Service
      uses: docker/build-push-action@v5
      with:
        context: ./payment-service
        push: true
        tags: ${{ env.IMAGE_PREFIX }}-payment-service:latest
